POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=keycloak
POSTGRES_DB_SYM=symfony
POSTGRES_USER_SYM=symfony
POSTGRES_PASSWORD_SYM=symfony

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

KC_DB=postgres
KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=keycloak

KC_HOSTNAME=localhost
KC_HOSTNAME_URL=http://localhost:8080
KC_HOSTNAME_ADMIN_URL=http://localhost:8080

SYMFONY_DATABASE_URL=postgresql://${POSTGRES_USER_SYM}:${POSTGRES_PASSWORD_SYM}@postgres:5432/${POSTGRES_DB_SYM}?serverVersion=16&charset=utf8
